.admin-wrapper {
    background: linear-gradient(121deg, #efb3ff 0%, #f2d6f8 16%, #efb3ff 33%, #f2d6f8 50%, #efb3ff 67%, #f2d6f8 84%, #efb3ff 100%);
    min-height: 100vh;
}

/* Hacemos el header fijo */
.headerSticky {
    background-color: yellow;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 1rem 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
}

/* Este margin-top compensa el alto del header */
.mainContent {
    margin-top: 140px; /* ajusta según altura real del header */
}

.adminTitle {
    text-align: center;
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: 2rem;
}

.inputSmall {
    font-size: 1rem;
    padding: 0.5rem 0.75rem;
}

.btnSm {
    font-size: 0.9rem;
    padding: 0.4rem 0.8rem;
}

@media (max-width: 768px) {
    .adminTitle {
        font-size: 1.0rem;
    }

    .inputSmall {
        font-size: 0.75rem !important;
        padding: 0.3rem 0.5rem !important;
    }

    .btnSm {
        font-size: 0.75rem !important;
        padding: 0.3rem 0.5rem !important;
    }

    .btnRowMobile {
        flex-direction: row !important;
        justify-content: center !important;
        gap: 0.5rem !important;
        flex-wrap: wrap;
    }

    .mainContent {
        margin-top: 170px; /* más espacio si header se ve más alto en móviles */
    }
}
