.formulario {
    background-color: rgb(233, 225, 248);
    font-size: 0.95rem;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 1rem;
    margin-bottom: 30px;
    border: 2px solid rgb(100, 42, 194);
    border-radius: 8px;

}


.formulario label {
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 4px;
}

.formulario input {
    padding: 8px 10px;
    font-size: 1rem;
    border: 1px solid #aaa;
    border-radius: 4px;
    transition: border-color 0.2s;
}

.formulario input:focus {
    border-color: rgb(100, 42, 194);
    outline: none;
}

@media (max-width: 576px) {
    .formulario {
        font-size: 0.75rem !important;
        padding: 0;
        gap: 6px;
    }


    .formulario input {
        font-size: 0.75rem !important;
        padding: 6px;
    }


}